html, body {
    margin: 0;
    padding: 0;
    font: 1.15rem 'PT Serif', serif;
    color: #fff;
}

/* Links styles */
* a {
    text-decoration: none;
    color: #fff;
}

/* Main wrapper styles */
.wrapper {
    background-color: #100e17;
    min-height: 101vh;
    display: grid;
}

/* Start wrapper styles position + header img position (Media query for less then 1023px devices) */
@media (max-width: 1023px) {
    .wrapper {
        grid-template: 60px 1fr minmax(100px, auto) minmax(100px, auto) minmax(60px, auto) / repeat(12, 1fr);
        grid-template-areas: "h h h h h h h h h h h h"
                             "m m m m m m m m m m m m"
                             "s s s s s s s s s s s s"
                             "c c c c c c c c c c c c"
                             "f f f f f f f f f f f f";
    }
    .wrapper nav {
        display: none;
    }
    .wrapper > header .logo a picture img {
        height: 50px;
        width: 200px;
    }
    .wrapper > header .logo {
        padding: 2px 0;
        transition: padding .5s;
    }
}

/* (Media query for 1024px+ devices) */
@media (min-width: 1024px) {
    .wrapper {
        grid-template: 100px 1fr minmax(100px, auto) minmax(100px, auto) / repeat(12, 1fr);
        grid-template-areas: "h h h h h h h h h h h h"
                             "m m m m m m m m m s s s"
                             "c c c c c c c c c s s s"
                             "f f f f f f f f f f f f";
    }
    .wrapper > header nav {
        grid-column: 4 / 11;
    }
    .wrapper > header .search {
        grid-column: 11 / 13;
    }
    .wrapper > header nav ul,
    .wrapper > header nav ul li,
    .wrapper > header nav ul li a,
    .wrapper > header .logo a {
        height: 100px;
    }
    .wrapper > header nav ul li picture img {
        height: 50px;
        width: 60px;
    }
    .wrapper > header .logo a picture img {
        height: 60px;
        width: 240px;
    }
    .wrapper > header .logo {
        padding: 17px 0;
        transition: padding .5s;
    }
}

/* (Media query for 1440px+ devices) */
@media (min-width: 1440px) {
    .wrapper {
        grid-template: 130px 1fr minmax(100px, auto) minmax(130px, auto) / repeat(12, 1fr);
        grid-template-areas: "h h h h h h h h h h h h"
                             "m m m m m m m m m s s s"
                             "c c c c c c c c c s s s"
                             "f f f f f f f f f f f f";
    }
    .wrapper > header nav {
        grid-column: 4 / 9;
    }
    .wrapper > header .search {
        grid-column: 9 / 13;
    }
    .wrapper > header nav ul,
    .wrapper > header nav ul li,
    .wrapper > header nav ul li a,
    .wrapper > header .logo a {
        height: 130px;
    }
    .wrapper > header nav ul li picture img {
        height: 65px;
        width: 78px;
    }
    .wrapper > header .logo a picture img {
        height: 80px;
        width: 320px;
    }
    .wrapper > header .logo {
        padding: 22px 0;
        transition: padding .5s;
    }
}
/* End wrapper styles position + header img position */

/* styles for header */
.wrapper > header {
    grid-area: h;
    display: grid;
    grid-template: 1fr / repeat(12, 1fr);
    border-bottom: 2px solid #201c29;
}

/* styles for header logo */
.wrapper > header .logo {
    grid-column: 1 / 4;
    text-align: center;
}

/* Start Nav menu styles */
.wrapper > header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}

.wrapper > header nav ul li {
    flex: 1;
}

.wrapper > header nav ul li a {
    border-left: 1px solid #201c29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #201c29;
}

.wrapper > header nav ul li a:hover {
    background-color: #251F2D;
}
/* End Nav menu styles */

/* Start main position */
.wrapper > main {
    grid-area: m;
}

.wrapper > aside {
    grid-area: s;
}

.contacts {
    grid-area: c;
}

.wrapper > footer {
    grid-area: f;
}
/* End main position */

/* Start tooltip styles */
.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip:before,
.tooltip:after {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-bottom: 15px;
    transition: opacity .3s;
    left: 50%;
}

.tooltip:before {
    content: attr(data-title);
    width: 250px;
    height: auto;
    background-color: rgba(0, 0, 0, .9);
    bottom: 30px;
    margin-left: -125px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.05rem;
    color: #fff;
}

.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
    opacity: 1;
    visibility: visible;
}

.tooltip:after {
    content: "";
    border-top: 10px solid rgba(0, 0, 0, .9);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    bottom: 20px;
    margin-left: -10px;
}
/* End tooltip styles */

footer {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}