main {
	/* background: linear-gradient(-45deg, #E4BE9A, #EFDED7); */
	background: linear-gradient(-45deg, #8EC4EA, #D2E8F5);
}

.window {
	margin: 10px;
	padding: 20px;
	border: 2px solid #000;
}

section {
	padding: 25px;
	border: 2px solid #000;
	margin-bottom: 20px;
}

.information {
	font-size: 1.1em;
}

.transfer {
	font-weight: bold;
}